#l-conteudo{
    grid-area: conteudo;
    margin-top: 5%;
    font-size: 1rem;
}
.cards{
    display: flex;
    align-items: center;
    background-color: aliceblue;
    margin: 15px;
    border-radius: 5px;
}
.logo-restaurante{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.container-descrição{
    margin-left: 1%;
}
.container-tags{
    display: flex;
    column-gap: 5px;
}
.container-info{
    display: flex;
    column-gap: 15px;
}
@media screen and (min-width: 481px) {
    #l-conteudo{
        font-size: 1.4rem;
    }
}
@media screen and (min-width: 769px) {
    #l-conteudo{
        font-size: 1.6rem;
    }
    .logo-restaurante{
        width: 200px;
        height: 200px;
    }
}