header{
    background-color: rgb(255, 0, 0);
    grid-area: header;
}   
#l-header{
    padding: 1rem;
}
#c-logo-menu{
    width: 100px;
    height: 100px;
    justify-self: left;
}
#c-list-menu{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3rem;
    width: 100%;
}
.btn-menu{
    background-color: brown;
    border-radius: 15px;
}
@media screen and (min-width: 769px) {
#l-header{
    display: flex;

    align-items: center;
}
#c-logo-menu{
    width: 100px;
    height: 100px;
}
#c-list-menu{
    font-size: 1.6rem;
    flex-direction: row;
    background-color: brown;
    width: max-content;
    margin-left: 10%;

} 
}