*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
    color: aliceblue;
}
ul,ol{
    list-style-type: none;
}
html{
    font-size: 10px;
}
body{
    display: grid;
    grid-template-columns: minmax(max-content, 1fr) minmax(max-content, 3fr);
    grid-template-rows: max-content max-content max-content;
    grid-template-areas: "header header" 
                         "filter conteudo"
                         "footer footer";
    min-height: 100vh;
    background-color: rgb(233, 233, 233);
    max-width: 1024px;
    margin: 0px auto;
}
